/* Global styles */
.eryndor {
  font-family: "Signika", sans-serif;
}

.eryndor .window-content {
  background: rgba(255, 255, 255, 0.95);
  padding: 5px;
}

.eryndor .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.eryndor .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.eryndor .sheet-header .header-fields {
  flex: 1;
}

.eryndor .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.eryndor .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.eryndor .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.eryndor .resource input {
  width: 100px;
  height: 28px;
}

/* Tabs */
.eryndor .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.eryndor .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.eryndor .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.eryndor .sheet-body,
.eryndor .sheet-body .tab,
.eryndor .sheet-body .tab .editor {
  height: 100%;
}

.eryndor .tox .tox-editor-container {
  background: #fff;
}

.eryndor .tox .tox-edit-area {
  padding: 0 8px;
}

/* Abilities */
.eryndor .abilities {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin: 20px 0;
}

.eryndor .ability {
  text-align: center;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
}

.eryndor .ability h4 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.eryndor .ability .ability-score {
  font-size: 2em;
  font-weight: bold;
  margin: 5px 0;
}

.eryndor .ability .ability-mod {
  font-size: 1.5em;
  color: #666;
}

.eryndor .ability input {
  width: 100%;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 2em;
  font-weight: bold;
}

/* Items */
.eryndor .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.eryndor .items-list .item-header {
  font-weight: bold;
  border-bottom: 2px solid #000;
  margin-bottom: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.eryndor .items-list .item {
  height: 40px;
  line-height: 36px;
  padding: 5px;
  border-bottom: 1px solid #BBB;
  display: flex;
  align-items: center;
}

.eryndor .items-list .item:last-child {
  border-bottom: none;
}

.eryndor .items-list .item img {
  flex: 0 0 36px;
  height: 36px;
  margin-right: 10px;
  border: none;
}

.eryndor .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}

.eryndor .items-list .item-name h3,
.eryndor .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 13px;
}

.eryndor .items-list .item-controls {
  display: flex;
  flex: 0 0 86px;
  justify-content: flex-end;
}

.eryndor .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.eryndor .item-formula {
  flex: 0 0 200px;
  padding: 0px 8px;
}

/* Effects */
.eryndor .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.eryndor .effects-list .effect {
  height: 40px;
  line-height: 36px;
  padding: 5px;
  border-bottom: 1px solid #BBB;
  display: flex;
  align-items: center;
}

.eryndor .effects-list .effect img {
  flex: 0 0 36px;
  height: 36px;
  margin-right: 10px;
}

.eryndor .effects-list .effect-name {
  flex: 2;
  margin: 0;
}

.eryndor .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}

/* Rollable */
.eryndor .rollable:hover,
.eryndor .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.eryndor .grid,
.eryndor .grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.eryndor dl.grid,
.eryndor dl.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.eryndor .grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.eryndor .grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.eryndor .flex-group-center,
.eryndor .flex-group-left,
.eryndor .flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.eryndor .flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.eryndor .flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.eryndor .flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.eryndor .flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.eryndor .flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.eryndor .align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.eryndor .align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.eryndor .align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
